<% content_for :head do %>
    <%= javascript_include_tag('message_poll.js') %>
    <%= stylesheet_link_tag('messages.css') %>
<% end %>

<% content_for :nav do %>
    <div class="collapse navbar-collapse">
      <div class="navbar-form navbar-right">
        <%= form_tag do %>
            <%= render 'sessions/logout'%>
        <% end %>
      </div>
    </div>
<% end %>

  <div class="container">
    <br>
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-primary" style="width:250px">
          <div class="panel-heading">
            <h3 class="panel-title">Current Projects</h3>
          </div>
          <div class="panel-body">
            <%= render 'projects/list' %>
          </div>
        </div>
        <div class="panel panel-primary" style="width:250px">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="Files.html">My Files</a></h3>
          </div>
          <div class="panel-body">
            <a href="Files.html">file.html</a> <br>
            <a href="Files.html">custom.css</a>
          </div>
        </div>
        <div class="panel panel-primary" style="width:250px">
          <div class="panel-heading">
            <h3 class="panel-title">Group File</h3>
          </div>
          <div class="panel-body">
            <a href="Files.html">Project.docx</a> <br>
            <a href="Files.html">AssignmentGuidelines.docx</a>
          </div>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="panel panel-primary" style="width:450px; height:350px">
          <div class="panel-heading">
            <h3 class="panel-title">Group Chat</h3>
          </div>
          <div class="panel-body">
            <div id="messages">
              <%= render 'messages/messages' %>
            </div>
          </div>
        </div>
        <div class="panel panel-primary" style="width:450px; height:80px">
          <div class="panel-body">
            <div id="editor">
              <%= render 'messages/form' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Group Calendar</h3>
          </div>
          <div class="panel-body">
            <iframe src="http://www.google.com/calendar/embed?src=21442323%40student.uwa.edu.au" style="border: 0" width="325" height="225"></iframe>
          </div>
        </div>
      </div>


      <p><br><br><br><br></p>

    </div>
  </div>
